<div id="chat" class="card column level-right is-one-fifth">
<aside class="chat-menu">
<p class="menu-label">
    Chat Rooms
  </p>
  <ul class="menu-list" >
    <li><a class='is-active chat-menu-item' data-it="chat-0">General</a></li>
    <% games.forEach((game)=>{%>
      <li><a class="chat-menu-item" data-it="chat-<%=game.id%>">Game <%=game.id%></a></li>
    <%})%>
  </ul>
</aside>
  <div id="chat-container" class="columns">
    <ul id="messages">
      <div class="column is-full has-text-centered">
        <li class='has-text-centered has-text-grey-light'>Start Chatting!</h3>
        <div>
    </ul>
  </div>
  <div class="field has-addons chat-input-group">
    <div class="control is-expanded">
      <input
        id="chat-input"
        class="input"
        type="text"
        placeholder="Text input"
      />
    </div>
    <div class="control">
      <a id="chat-submit" class="button is-info"> Search </a>
    </div>
  </div>
</div>
