<div id="chat" class="card column level-right is-one-fifth">
  <header class="card-header chat-header">
    <p class="card-header-title">Global chat</p>
  </header>
  <div id="chat-container">
    <ul id="messages"></ul>
  </div>
  <div class="field has-addons chat-input-group">
    <div class="control is-expanded">
      <input
        id="chat-input"
        class="input"
        type="text"
        placeholder="Text input"
      />
    </div>
    <div class="control">
      <a id="chat-submit" class="button is-info"> Search </a>
    </div>
  </div>
</div>
