    <!-- <form action=""> -->
      <!-- <input id="m" autocomplete="off" /><button>Send</button> -->
    <!-- </form> -->
    <!-- </ul> -->
    <article class="column level-right is-one-fifth">
      <div class="message-header">
        hello
        <button class="delete" aria-label="delete"></button>
      </div>
    </article>

    <div id="chat" class="card column level-right is-one-fifth">
      <div id="chat-container">

        <ul id="messages">
          <li class="message is-info">
  <div class="message-header">
    <p>Info</p>
  </div>
  <div class="message-body">
    hello world
  </div>
</li>

      </ul>
    <div  class="field has-addons chat-input-group">
  <div class="control is-expanded ">
    <input id="chat-input" class="input" type="text" placeholder="Text input">
  </div>
  <div class="control">
    <a id="chat-submit" class="button is-info">
      Search
    </a>
  </div>
    </div>
      </div>
    </div>
