<%- include('../partials/htmlStructure/head.ejs') -%>
  <body>
    <%- include('../partials/navbar.ejs') -%>

    <div id="wrapper">
      <section id="full-height">
        <h1>Home Page of Somthing Nice</h1>
      </section>
    </div>
  </body>
  </html>
  <%- include('../partials/htmlStructure/foot.ejs') -%>
