<%- include('../partials/htmlStructure/head.ejs') -%>
    <%- include('../partials/navbar.ejs') -%>

    <div id="wrapper">
      <section id="full-height">
        <h1>Home Page of Somthing Nice</h1>
      </section>
    </div>
  <%- include('../partials/htmlStructure/foot.ejs') -%>
