<%- include('../../partials/htmlStructure/head.ejs') -%>
<%- include('../../partials/navbar.ejs') -%>
<h1>You are in game now</h1>
<%- include('../../partials/chat.ejs') -%>
<%- include('../../partials/htmlStructure/foot.ejs') -%>
