<%- include('../../partials/htmlStructure/head.ejs') -%>
<%- include('../../partials/navbar.ejs') -%>
<div class="container level">
  <h1>auth home</h1>
</div>
<%- include('../../partials/chat.ejs') -%>
<%- include('../../partials/htmlStructure/foot.ejs') -%>
